/*common rules*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 body{
   font-family: 'Noto Sans JP', sans-serif;
 }

.wrapper{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

span{
  color: #7b7e82;
}

p{
  color: #7b7e82;
  padding-bottom: 25px;
}
/*end common rules*/

main {
  height: calc(100% - 90px);
}

.sidebar{
  background-color: #000;
  color: #fff;
  padding-left: 15px;
  width: 230px;
  height: 100%;
  padding-right: 15px;
}

.sidebar ul{
  list-style-type: none;
}

.sidebar li{
  margin-bottom: 10px;
}

.sidebar img{
  height: 20px;
  vertical-align: middle;
}

.logo{
  height: 100px;
  line-height: 100px;
}

.logo img{
  height: 40px;
}

ul.pages-menu {
  height: 100px;
}

.playlist{
  height: calc(100% - 200px);
  overflow-y: auto;
}

.playlist h4{
  padding-top: 10px;
}

.playlist p{
  padding: 15px 0;
  color: #7b7e82;
}

.playlist li{
  color: #7b7e82;
}

.top-sidebar {
  height: calc(100% - 80px);
  overflow: hidden;
}

.bottom-sidebar{
  height: 80px;
}

.bottom-sidebar h5{
  padding-top: 10px;
}

hr{
  margin: 8px 0;
}

.profile-img{
  height: 5px;
  vertical-align: middle;
}

.profile-name{
  vertical-align: middle;
  padding-left: 20px;
  color: #fff;
}

.header{
  height: 90px;
  width: calc(100% - 230px);
  color: #fff;
  background-color: rgba(0,0,0,.4);
  position: fixed;
  text-align: right;
  padding-right: 50px;
  line-height: 90px;
  font-weight: bold;
}

.button-type-a{
  padding: 10px 70px;
  background-color: black;
  color: #fff;
  border: #fff solid 2px;
  border-radius: 18px;
  font-size: 12px;
  margin-top: 12px;
}

.music-content{
  background-color: #141922;
  color: #fff;
  height: 100%;
  width: calc(100% - 230px);
  overflow-y: auto;
}

.music-content-nav{
  margin-top: 90px;
}

.music-content ul{
  text-align: center;
}

.music-content li{
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 11px;
  padding-top: 15px;
  color: #7b7e82;
}

.border-b::after{
  border-bottom: solid 3px #abfc2f;
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 50%; /* Change this to whatever width you want. */
  padding-top: 3px; /* This creates some space between the element and the border. */
}

.recently-played{
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.music-content h2{
  margin-bottom: 15px;
  margin-top: 35px;
  margin-left: 20px;
}

.music-content p{
  margin-left: 20px;
}

.recently-played-content{
  text-align: center;
  width: calc(100%/6 - 17px);
  margin-right: 17px;
}

.content-img{
  position: relative;
}

.recently-played img{
  width: 100%;
}

.content-img .fa-play-circle-o, .content-img-radius .fa-play-circle-o{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  display: none;
}

.opacity{
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  display: none;
}

.content-img-radius{
  position: relative;
}

.opacity-radius{
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  display: none;
  border-radius: 100%;
}

.content-img:hover .opacity, .content-img:hover .fa-play-circle-o {
  display: block;
  cursor: pointer;
}

.content-img-radius:hover .opacity-radius, .content-img-radius:hover .fa-play-circle-o{
  display: block;
  cursor: pointer;
}

.recently-played-content h4{
  padding: 10px 0;
}

.created-for{
  margin-top: 15px;
  margin-left: 20px;
}

.created-for-content{
  text-align: center;
  width: calc(100%/6 - 17px);
  margin-right: 17px;
}

.created-for img{
  width: 100%;
}

.created-for-content h4{
  padding-top: 10px;
  padding-bottom: 5px;
}

.most-popular-artist{
  margin-top: 15px;
  margin-left: 20px;
}

.most-popular-artist-content{
  text-align: center;
  width: calc(100%/6 - 17px);
  margin-right: 17px;
}

.most-popular-artist-content img{
  border-radius: 100%;
  width: 100%;
}

.most-popular-artist-content h4{
  padding-top: 10px;
  padding-bottom: 20px;
}

footer{
  height: 90px;
  color: #fff;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

.left-footer, .right-footer{
  width: 20%;
  display: flex;
  align-items: center;
}

.left-footer i, .right-footer i{
  padding-right: 10px;
}

.left-footer img{
  height: 55px;
  margin-left: 10px;
  vertical-align: middle;
}

.left-footer p{
  padding-bottom: 0;
  font-weight: bold;
  color: #fff;
  font-size: 13px;
}

.singer{
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  margin-left: 8px;
  margin-right: 70px;
}

.center-footer{
  width: 60%;
  text-align: center;
}

.center-footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-footer ul li {
  list-style: none;
  font-size: 16px;
  padding: 20px 10px 6px 10px;
}

.center-footer ul li.scale {
  font-size: 32px;
  padding: 10px 20px 0 20px;

}

.center-footer ul li.scale:hover {
  transform: scale(1.2);
}

.player-bar-time-container{
  font-size: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.perc7{
  width: 7%;
  display: inline-block;
}

.player-bar-time {
  background: #575757;
  width: 50%;
  height: 3px;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 2px;
}

.elapsed-time{
  position: relative;
  background: #b8b8b8;
  height: 100%;
}

.pointer{
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(50%, -50%);
  right: 0;
  top: 50%;
}

.player-bar-time:hover .pointer{
  display: block
}

.perc-30{
  width: 30%;
}

.right-footer .fa-list{
  margin-left: 30px;
}

.fa-volume-up{
  margin-left: 40px;
}

.volume-bar{
  background: #575757;
  width: 40%;
  height: 4px;
}

.volume-level{
  position: relative;
  background: #b8b8b8;
  height: 100%;
}

.volume-bar:hover .pointer{
  display: block
}

.perc20{
  width: 20%;
}

@media (max-width: 991px){
  .recently-played-content{
    width: calc(100% / 4 - 17px);
    margin-top: 15px;
  }
  .created-for-content{
    width: calc(100%/ 4 - 17px);
  }
  .most-popular-artist-content{
    width: calc(100%/ 4 - 17px);
  }

 }

 @media (max-width: 767px) {
   .recently-played-content {
     width: calc(100% / 2 - 17px);
     margin-top: 15px;
   }
   .created-for-content{
     width: calc(100%/ 2 - 17px);
   }
   .most-popular-artist-content{
     width: calc(100%/ 2 - 17px);
   }
 }

@media (max-width: 575px) {

  .recently-played-content {
    width: calc(100% / 2 - 17px);
    margin-top: 15px;
  }
  .created-for-content{
    width: calc(100%/ 2 - 17px);

  }
  .most-popular-artist-content{
    width: calc(100%/ 2 - 17px);
  }

}
