/*common rules*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.fl{
  float: left;
}

.fr{
  float: right;
}
/*end common rules*/

.sidebar{
  background-color: #000;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  height: 570px;
}

.sidebar ul{
  list-style-type: none;
}

.sidebar li{
  padding-bottom: 10px;
}

.sidebar img{
  height: 20px;
  vertical-align: middle;
}

.logo{
  padding-bottom: 20px;
  padding-top: 10px;
}

.logo img{
  height: 30px;
  vertical-align:text-bottom;
}

.logo span{
  font-size: 30px;
}

.header{
  height: 70px;
  color: #fff;
  background-color: #080b12;
}

.button-type-a{
  padding: 15px;
  background-color: black;
  color: #fff;
  border: #fff solid 2px;
  border-radius: 18px;
  font-size: 12px;
  margin-top: 10px;
}

.main{
  background-color: #141922;
  color: #fff;
  height: 500px;
}

.main ul{
  text-align: center;
}

.main li{
  display: inline-block;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 11px;
  padding-top: 15px;
}

.recently-played{
 display: flex;
}

.recently-played-content{
  text-align: center;
  width: calc(80%/6);
}

.recently-played img{
  height: 160px;
  margin-top: 13px;
  margin-left: 8px;
}

.footer{
  height: 80px;
  color: #fff;
  background-color: #282828;
}
